html{
    height: 100%;
    box-sizing: border-box;
}
body {
    padding-top: 56px;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-property: left, visibility;
    }

    .offcanvas-collapse.open {
        left: 0;
        visibility: visible;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: white;
}

.nav-underline .nav-link:hover {
    color: #c2c2c2;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.bg-purple {
    background-color: #900C3F;
}

.lh-100 {
    line-height: 1;
}

.lh-125 {
    line-height: 1.25;
}

.lh-150 {
    line-height: 1.5;
}

#bodyBG {
    background-color: white;
}

#navbarBG {
    background-color: #C70039;
}

#navscrollBG {
    background-color: #900C3F;
}

#textBANNER {
    color: white;
}

.contBG1 {
    background-color: whitesmoke;
}

.separadorFOOTER {
    background-color: #C70039;
    bottom: 0;
    position: absolute;
    height: 62px;
    width: 100%;
}

h6 {
    color: black;
}

.linksIm {
    color: white;
}

.linksIm:hover {
    color: #c2c2c2;
}

#badgeBG {
    background-color: #38204d;
}

.footer {
    background-color: #900C3F;
    color: #fff;
    line-height: 60px;
    position: absolute;
    height: 60px;
    right: 0;
    bottom: 0;
    left: 0;
}

.welcome {
    color: white;
}
.text-center{
    padding-top: 18px;
}

.parrafo{
    color: black;
}

.modal-body{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.linksModal{
    color: #900C3F;
}
.linksModal:hover{
    color: #C70039;
}
.boton{
    background-color: #581845;
    border-color: #581845;
    color: white;
}

.boton:hover{
    background-color: white;
    border-color: #C70039;
    color: black;
}

#inputPassword2{
    margin-bottom: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
#inputPasswordsignup{
    margin-bottom: -1px;
    border-radius: 0;
}

.mini-profile{
    height: 40px;
    width: 40px;
}

@media (max-width: 600px) {
    .profileimgdiv{
        visibility: hidden!important;
    }
    .mini-profile{
        height: 0px;
        width: 0px;
    }
}
