
html{
    height: 100%;
    box-sizing: border-box;
}
body {
    padding-top: 56px;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: white;
}

.nav-underline .nav-link:hover {
    color: #c2c2c2;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.bg-purple {
    background-color: #900C3F;
}

.lh-100 {
    line-height: 1;
}

.lh-125 {
    line-height: 1.25;
}

.lh-150 {
    line-height: 1.5;
}

#bodyBG {
    background-color: white;
}

#navbarBG {
    background-color: #C70039;
}

#navscrollBG {
    background-color: #900C3F;
}

#textBANNER {
    color: white;
}

.contBG1 {
    background-color: whitesmoke;
}

.separadorFOOTER {
    background-color: #C70039;
    bottom: 0;
    position: absolute;
    height: 62px;
    width: 100%;
}

h6 {
    color: black;
}

.linksIm {
    color: white;
}

.linksIm:hover {
    color: #c2c2c2;
}

#badgeBG {
    background-color: white;
    color: #C70039;
}

.footer {
    background-color: #900C3F;
    color: #fff;
    line-height: 60px;
    position: absolute;
    height: 60px;
    right: 0;
    bottom: 0;
    left: 0;
}

.welcome {
    color: white;
}
.text-center{
    padding-top: 18px;
}

.parrafo{
    color: black;
}

.boton{
    background-color: #581845;
    border-color: #581845;
    color: white;
}

.boton:hover{
    background-color: white;
    border-color: #C70039;
    color: black;
}

.linksCont{
    color: #900C3F;
}
.linksCont:hover{
    color: #C70039;
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: whitesmoke;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    max-width: 235px;
    max-height: 235px;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #C70039;
}

.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #C70039;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #C70039;
}

.mini-profile{
    height: 40px;
    width: 40px;
}

@media (max-width: 600px) {
    .profileimgdiv{
        visibility: hidden!important;
    }
    .mini-profile{
        height: 0px;
        width: 0px;
    }
}
